.actionBox {
  position: absolute;
  top: 10vh;
  left: 250px;

  & input[type = button] {
    margin-bottom: 2vh;
  }
}

.mnemonic {
  & .displaySeedPhrase {
    width: 40vw;
    height: 30vh;
    border: 2px solid rgba(0, 0, 0, 0.09);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.09);
    position: relative;
    left: 10vw;

    & tr {
      & td {
        text-align: center;
      }
    }
  }

  & h1 {
    text-align: center;
    position: relative;
    top: 3vh;
    right: 2vw;
  }

  & input[type = button] {
    width: 100px;
    height: 30px;
    position: relative;
    top: 5vh;
    left: 27vw;
    border-color: rgba(0, 0, 0, 0.09);
    border-radius: 10px;

    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h2 {
    & span {
      font-weight: 500;
    }
  }
  & input[type = button] {
    width: 100px;
    height: 30px;
    position: relative;
    top: 20vh;
    border-color: rgba(0, 0, 0, 0.09);
    border-radius: 10px;
  }
}
